/* @import "../node_modules/bootstrap";

.card-body{
  background-color:brown;
}
.card-header{
  padding: 5%;
  border-color: rgb(33, 37, 41);
  background-color:rgb(33, 37, 41);
  font-size: 1.5rem;
}
.nav-link {
  color: brown;
}

.nav-item>a:hover {
  color: white;
}

.nav.nav-pills .nav-link.active {
  background-color: rgb(33, 37, 41);
  border-style: solid;
  border-color: brown;
  border-radius: 5%;
  border-width: thin;
}





 */
